{% extends 'common/base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="row flex-container d-flex justify-content-center p-4">
        <div class="col-md-4 p-4 form-container mt-5">
            <form class="flex-container d-flex flex-column gap-4" method="post">
                {% csrf_token %}

                <div class="form-floating">
                    {{ form.username|add_class:"form-control" }}
                    <label for="{{ form.username.id_for_label }}">Username</label>
                    <span class="text-danger">{{ form.username.errors }}</span>
                </div>

                <div class="form-floating">
                    {{ form.password|add_class:"form-control" }}
                    <label for="{{ form.password.id_for_label }}">Password</label>
                    <span class="text-danger">{{ form.password1.errors }}</span>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
{% endblock %}