.image-container {
    border-radius: 1rem;
    box-shadow: var(--shadow);
    overflow: hidden;
}

.image-container > img {
    object-fit: cover !important;
    width: 100%;
    height: 300px;
}

.offcanvas-header {
    background-color: var(--primary-color);
    color: black;
}

.offcanvas-body {
    background-color: rgba(61, 63, 63, 0.9);
    color: white;
}

.btn-outline-primary {
    color: var(--primary-color);
    background-color: rgba(61, 63, 63, 0.9);
}

.btn-outline-primary:hover,
.btn-check:checked + .btn-outline-primary {
    color: white !important;
    background-color: var(--accent-color) !important;
}

.page-item,
.page-item > button {
    cursor: pointer;
    color: black;
    background-color: var(--primary-color);
    border: none;
}

.page-item > button:hover {
    background-color: var(--accent-color);
    color: white;
}

.page-item.active > button {
    background-color: var(--accent-color) !important;
    color: white !important;
}

section[aria-label="Games pagination"] > ul {
    border-radius: 1rem;
}

#prev-page-btn,
li:has(#prev-page-btn) {
    border-radius: 1rem 0 0 1rem;
}

#next-page-btn,
li:has(#next-page-btn) {
    border-radius: 0 1rem 1rem 0;
}

section[aria-label="Games pagination"] > ul {
    position: relative;
    overflow: visible;
}

section[aria-label="Games pagination"] > ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: var(--shadow);
    pointer-events: none;
    z-index: 10;
    border-radius: 1rem;
}

section[aria-label="Games pagination"] > ul > li {
    position: relative;
    z-index: 1;
}
