{% extends 'common/base.html' %}
{% block content %}
    <form method="get">
        <select name="tags" id="tags" multiple>
            <label for="tags">Select one or more tags</label>
            {% for tag in tags %}
                <option value="{{ tag.pk }}" {% if tag.pk|stringformat:"s" in selected_tag_ids %}selected{% endif %}>
                    {{ tag.name }}
                </option>
            {% endfor %}
        </select>
        <input type="text" name="search" value="{{ request.GET.search }}">
        <button type="submit">Search</button>
    </form>
    <div class="row p-3 gap-3">
        {% for game in games %}
            <div class="card col-lg-2">
                <a href="{% url 'game-details' game.pk %}">
                    <div class="card-img-top">
                        {% if game.image %}
                            <img src="{{ game.image.url }}" alt="" class="img-fluid p-1">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ game.name }}</h5>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}