{% extends 'common/base.html' %}
{% load user_in_group_filter %}
{% block content %}
    <div class="flex-container flex-wrap d-flex justify-content-between">
        <div class="flex-item">
            {% if game.image %}
                <img src="{{ game.image.url }}" alt="" class="img-fluid p-1">
            {% else %}
                <p>No image</p>
            {% endif %}
        </div>

        <div class="flex-item">
            <h3>{{ game.name }}</h3>
            <p>{{ game.description }}</p>
            <p>{{ game.available_platforms }}</p>
            <p>{{ game.release_date }}</p>
            {% if user|has_group:"Employee" %}
                <a href="{% url 'edit-game' game.pk %}" class="btn btn-secondary">Edit</a>
            {% endif %}
        </div>
    </div>
{% endblock %}